/target/
**/*.rs.bk
.rust-analyzer
rls*.log
*.pdb
Cargo.lock
.cargo-ok
.idea/
.vscode/
*.code-workspace
.project
.classpath
.settings/
.DS_Store
Thumbs.db
desktop.ini
*.swp
*~
*.log
*~
*.bak
/doc/
.env
.env.local
.env.*.local